* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: yellowgreen;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 600px;
    margin: 100px;
    border: 7px solid purple;
    border-radius: 5px;
}

header {
    background-color: saddlebrown;
    color: white;
    width: 100%;
    margin-top: 0%;
}

h1, h3, div {
    text-align:center;
    padding: 2%;
}

h3{
    background-color: teal;
    color: yellow;
    border-top: 3px solid blueviolet;
    border-bottom: 3px solid blueviolet;
}

p {
    text-align: justify;
    padding: 5px 40px;
    background-color:wheat;
    border-bottom: 3px solid blueviolet;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: chartreuse;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: saddlebrown;
    background-color: transparent;
    text-decoration: underline;
  }

  section{
    background-color: sandybrown;
  }

  a {
    background-color:transparent !important;
    }

  #link-tag{
    background-color: sienna;
  }